*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

:root{
    --color-bg-50: #FFF7E0;
    --color-bg-100: #FFECB3;
    --color-bg-200: #FFE186;
    --color-bg-300: #FFD558;
    --color-bg-400: #FFCA2B;
    --color-bg-500: #FCBD00;
    --color-bg-600: #CF9B00;
    --color-bg-700: #A27900;
    --color-bg-800: #745700;
    --color-bg-900: #473500;
    --color-bg-950: #1A1300;
}

main{
    min-width: 100vw;
    min-height: 100vh;
    background: var(--color-bg-50);
    display: flex;

    &>.content{
        width: 100%;
        padding: 64px 32px;

        & header{
            font-size: 32px;
            border-bottom: 4px solid var(--color-bg-100);
            margin-bottom: 64px;
            
            & h1{
                font-family: Geneva;
                color: var(--color-bg-600);
            }
        }
    }

    & .sidebar{
        width: 400px;
        background: var(--color-bg-100);
        padding: 64px 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        & .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            & .pfp{
                width: 128px;
                height: 128px;
                border-radius: 50%;
                overflow: hidden;
                background: var(--color-bg-50);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 64px;

                & p{
                    font-size: 48px;
                    font-weight: bold;
                }
            }

            & .actions{
                width: 100%;

                & p.title{
                    font-size: 18px;
                    font-style: italic;
                    color: var(--color-bg-600);
                    width: 100%;
                    border-bottom: 1px solid var(--color-bg-600);
                    margin-bottom: 16px;
                }

                & .ctas{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    & p{
                        font-size: 20px;
                        color: var(--color-bg-600);
                        cursor: pointer;
                    }
                }
            }
        }

        & footer{
            font-style: italic;
            font-weight: bold;
        }
    }
}