*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

:root{
    --color-bg-50: #FFF7E0;
    --color-bg-100: #FFECB3;
    --color-bg-200: #FFE186;
    --color-bg-300: #FFD558;
    --color-bg-400: #FFCA2B;
    --color-bg-500: #FCBD00;
    --color-bg-600: #CF9B00;
    --color-bg-700: #A27900;
    --color-bg-800: #745700;
    --color-bg-900: #473500;
    --color-bg-950: #1A1300;
}

main{
    min-width: 100vw;
    min-height: 100vh;
    background: var(--color-bg-50);
    display: flex;

    & .content{
        width: 100%;
        padding: 64px 32px;
    }

    & .sidebar{
        width: 400px;
        background: var(--color-bg-100);
        padding: 64px 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        & .pfp{
            width: 128px;
            height: 128px;
            border-radius: 50%;
            overflow: hidden;
            background: var(--color-bg-50);
            display: flex;
            align-items: center;
            justify-content: center;

            & p{
                font-size: 48px;
                font-weight: bold;
                font-family: Arial;
            }
        }

        & footer{
            font-style: italic;
            font-weight: bold;
        }
    }
}